.header {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    padding: 4px 12px;
    border-radius: 4px;
    white-space: nowrap;
    backdrop-filter: blur(10px) brightness(120%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #ececec;
}