#common
AUTH0_ISSUER_BASE_URL='https://dummy.eu.auth0.com'

# frontend client
AUTH0_BASE_URL='http://localhost:3000'
AUTH0_SECRET='Random secret generated with node -e "console.log(crypto.randomBytes(32).toString('hex'))"'
AUTH0_CLIENT_ID='Can be obtained from auth0'
AUTH0_CLIENT_SECRET='Can be obtained from auth0'
AUTH0_SCOPE='openid profile email offline_access'
AUTH0_AUDIENCE='aquata-backend'

# generate types-and-hooks.ts from graphql
AUTH0_BACKEND_CLIENT_ID='Can be obtained from auth0'
AUTH0_BACKEND_CLIENT_SECRET='Can be obtained from auth0'